[common]
; 支持直接写PHP中的已定义常量, Windows 平台需要注意目录分割符的问题
application.directory = APPLICATION_PATH "/application/"
application.dispatcher.catchException = TRUE
application.view.ext = "phtml"
; 定义默认的Layout目录
application.layout.directory = APPLICATION_PATH "/application/views/layouts"
; 声明模块
application.modules = "Index,Behavior,Detail,Fascinate,Online,Path,Period,Seo,Sin,Url"

; 项目的主网址,
; 因为报表严重依赖SiteId, 所以在没有SiteId时, 都会被301跳转到主网址上
resources.frontController.masterurl = "http://www.kutongji.com/"
; 报表的域名.
resources.frontController.baseurl = "http://report.kutongji.com/"

; 报表服务器专用的Redis, 可用于缓存.
resources.redis.host = '192.168.66.66'
resources.redis.port = 6378
resources.redis.auth = null
resources.redis.db   = 1
resources.redis.options.prefix = null

; 数据库
resources.database.params.driver   = "pdo_mysql"
resources.database.params.database = "kutongji"
resources.database.params.username = "kutongji"
resources.database.params.password = "kutongji"
resources.database.params.hostname = "192.168.66.66"
resources.database.params.port     = 3306
resources.database.params.charset  = "UTF8"
resources.database.params.driver_options.1002 = "SET NAMES utf8"

[product : common]
[develop : product]