# vim temp files
.*.s[a-w][a-z]
*~

# c temp files
*.out

# netbeans 
/c/project/Test/nbproject/

/nbproject/

*.DS_Store
/java/MyLib/nbproject/private/
/java/MyLib/build/
/java/WebApplication1/nbproject/private/
/java/WebApplication1/build/
/java/javaweb/nbproject/private/
/java/javaweb/build/
/java/javawebhibernate/nbproject/private/
/java/struts/nbproject/private/
/java/struts/build/
/java/DVDStore/nbproject/private/
/java/DVDStore/build/
/java/DVDStore/dist/
/java/hibernate/nbproject/private/
/java/Hibernate/nbproject/private/
/java/Hibernate/build/
/c/project/Test/build/
/c/project/Test/dist/
/java/http/http/nbproject/private/
/java/http/http/build/
/java/http/http/dist/
/java/demo/demo/nbproject/private/
/java/demo/demo/build/
/java/demo/demo/dist/
/android/hello/gen/
/android/hello/nbandroid/


# /golang/goyaf/bin/
