/* 整体样式 */
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

article, aside, details, figcaption, figure, footer, header, nav, section {
    display: block
}

body {
    margin: 0;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #555555;
    background-color: #eeeeee;
    overflow-x: hidden;
}

a {
    color: #428BD1;
    text-decoration: none;
}

a:hover, a:focus {
    color: #3071A9;
    text-decoration: none
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    line-height: 20px;
}
.navbar {
    font-size: 14px;
}

/* 导航样式 */
.navbar-header h1 {
    font-size: 28px;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-collapse a {
    text-align: center;
}

/* 内容左边文章样式 */
.d-article {

}

article h2 {
    font-size: 18px;
    margin-top: 0px;
}

article {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

/* 内容左边文章样式 - 发表用户 */
.article-user {
    margin-bottom: 10px;
}

.article-user-img {
    width: 50px;
    height: 50px;
    float: left;
    display: inline;
    position: relative;
}

.article-user-img img {
    width: 50px;
}

.article-user-main {
    margin-top: -2px;
    margin-left: 60px;
}

.article-user-name {
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.article-time {
    height: 25px;
    line-height: 25px;
}

/* 内容左边文章样式 - 文章内容 */
.article-content {
    font-size: 14px;
    line-height: 24px;
}

.article-img {
    margin-bottom: 20px;
}

.article-img img {
    max-width: 100%;
}

.article-act .praise, .article-act .despise, .article-act .comment {
    padding: 1px 2px;
    line-height: 28px;
}

.article-act .praise:hover, .article-act .despise:hover, .article-act .comment:hover {
    font-size: 14px;
}

.article-act .praise {
    color: #66b946;
}

.article-act .despise {
    color: #fb5e4e;
}

.article-act .comment {
    color: #888888;
}

.article-comment-post {
    padding: 20px 20px 0 15px;
}

.article-comment-post textarea {
    width: 100%;
    border-color: #cccccc;
    height: 60px;
}

.article-comment-post .cm-sub-div button {
    font-size: 12px;
}

.cm-sub-div {
    height: auto;
    clear: both;
    display: block;
}

/* 评论列表相关 */
.article-comment-list {

}

.comment-li {
    padding: 12px 0 10px 0;
    border-top: 1px solid #eeeeee;
}

.comment-li-1 {
    border-top: none;
}

.c-avatar {
    width: 30px;
    height: 30px;
    float: left;
    display: inline;
    position: relative
}

.c-avatar img {
    width: 30px;
    height: 30px;
}

.c-main {
    margin-left: 40px;
}

.comment-time {
    color: #aaaaaa;
}

.comment-act {
    text-align: right;
    height: 20px;
}

.comment-reply-link {
    margin-left: 5px;
}

.c-parent {
    margin: 0px;
    padding: 5px 10px 0;
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    background-color: #fbfbfb;
}

.c-parent-first {
    margin-top: 10px;
}

.c-parent-last {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
}

.c-parent .comment-act a {
    display: none;
}

.article-comment-list .article-comment-post {
    padding: 5px 15px 0 15px;
}

.c-parent .article-comment-post {
    padding: 5px 15px 5px 15px;
}

/* 评论列表相关 end */

/* 内容左边文章样式 - 分页样式 */
.pagination {
    width: 100%;
    margin-top: 0px;
    text-align: center;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0
}

.pagination ul > li {
    display: inline
}

.pagination ul > li > a, .pagination ul > li > span {
    margin: 0 1px;
    float: left;
    padding: 4px 12px 3px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    color: #666
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus {
    background-color: #ccc;
    color: #444
}

.pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #428BCA;
    color: #fff
}

.pagination ul > .active > a, .pagination ul > .active > span {
    cursor: default
}

.pagination ul > li > span, .pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    color: #999999;
    background-color: transparent;
    cursor: default
}

/* 边栏样式 */
.aside {

}

.widget {
    clear: both;
    margin-bottom: 10px;
    background-color: #fff;
}

.widget h3 {
    font-size: 15px;
    position: relative;
    margin: 0;
    line-height: 25px;
    padding: 6px 15px;
    font-size: 15px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #eaeaea;
    font-weight: normal;
}

.widget_recent_entries li {
    border-bottom: solid 1px #eee;
    padding: 8px 15px;
    font-size: 14px;
}

/* 边栏样式 - 标签样式 */
.d_tags {
    padding: 12px 13px 10px 15px;
}

.d_tags a {
    opacity: 0.80;
    filter: alpha(opacity=80);
    color: #fff;
    background-color: #428BCA;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 6px;
    line-height: 21px;
}

.d_tags a:nth-child(9n) {
    background-color: #4A4A4A;
}

.d_tags a:nth-child(9n+1) {
    background-color: #428BCA;
}

.d_tags a:nth-child(9n+2) {
    background-color: #5CB85C;
}

.d_tags a:nth-child(9n+3) {
    background-color: #D9534F;
}

.d_tags a:nth-child(9n+4) {
    background-color: #567E95;
}

.d_tags a:nth-child(9n+5) {
    background-color: #B433FF;
}

.d_tags a:nth-child(9n+6) {
    background-color: #00ABA9;
}

.d_tags a:nth-child(9n+7) {
    background-color: #B37333;
}

.d_tags a:nth-child(9n+8) {
    background-color: #FF6600;
}

/* 登录页面 */

.login {
    background: #ffffff;
    margin-bottom: 50px;
}

/* 登录页面 end */

/* 底部样式 */
footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

/* 响应式样式 */
/* 这个样式主要是为了当内容列和边栏列都显示的时候,右边间距调整为适当的值 */
@media (min-width: 992px) {
    .d-article {
        padding-right: 5px;
    }
}

